<h1>Currency</h1>

<p><b>BitCoin em cada moeda</b></p>

<div>
  <table>
    <tr>
      <th>USD</th>
    </tr>
    <tr *ngFor="let rate of this.wallet.USDeEURlist; index as i">
      <td>
        <span [innerHTML]="rate.bpi.USD.symbol"></span>
        {{ rate.bpi.USD.rate_float }}
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th>EUR</th>
    </tr>
    <tr *ngFor="let rate of this.wallet.USDeEURlist; index as i">
      <td>
        <span [innerHTML]="rate.bpi.EUR.symbol"></span>
        {{ rate.bpi.EUR.rate_float }}
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <th>BRL</th>
    </tr>
    <tr *ngFor="let rate of this.wallet.USDeEURlist; index as i">
      <td><span>R$</span> {{ wallet.BRLlist[i]?.bpi.BRL.rate_float }}</td>
    </tr>
  </table>
</div>
