<h1>Wallet</h1>

<!--Por favor, carregar o Currency antes de usar o Wallet.-->

<div>
  <b>Informe um valor em R$:</b>
  <input class="form-control" type="number" #valor />

  <br />
  <button (click)="somar(valor.value); valor.value = ''">Adcionar</button>
  <button (click)="subtrair(valor.value); valor.value = ''">Subtrair</button>

  <br /><br />
  <li>₿ {{ this.wallet.getSaldo() }}</li>
  <li>$ {{ this.wallet.getDolar() }}</li>
  <li>€ {{ this.wallet.getEuro() }}</li>
  <li>R$ {{ this.wallet.getReal() }}</li>
</div>
