<h1>Wallet</h1>

<!--Por favor, carregar o Currency antes de usar o Wallet.-->

<div>
  <b>Operação de compra e venda:</b> <br />
  R$: <input #brl type="number" step="0.01" #valor />

  <br /><br />
  <button (click)="somar(valor.value); valor.value = ''">Adcionar</button>
  <button (click)="subtrair(valor.value); valor.value = ''">Subtrair</button>

  <br /><br />
  <li>₿ {{ wallet.saldo }} BTC</li>
  <li>$ {{ wallet.getBTCinUSD().toFixed(2) }} USD</li>
  <li>€ {{ wallet.getBTCinEUR().toFixed(2) }} EUR</li>
  <li>R$ {{ wallet.getBTCinBRL().toFixed(2) }} BRL</li>
</div>
